{
   "semi": false,
   "arrowParens": "always",
   "bracketSameLine": false,
   "endOfLine": "lf",
   "bracketSpacing": true,
   "singleAttributePerLine": true,
   "jsxSingleQuote": false,
   "printWidth": 80,
   "plugins": ["prettier-plugin-tailwindcss"]
}